@media (min-width: 400px) {
    html body {
        background-color: rgb(40,60,80);
    }
}

@media (max-width: 800px) {
    h1 {
        text-align: center;
    }
}

@media (orientation: landscape) {
    article {
        max-width: 50ch;
    }
}

@media (min-height: 200px) {
    body h1 {
        background-color: blue;
    }
}

/* Parte de abajo */

p {
    font-family: serif;
}

@media (prefers-color-scheme: light) {
    body, h1 {
        background-color: #DDD;
        color: #111;
    }
}

@media screen and (hover: none) {
    a {
        background-color: #212;
        padding: 2px 5px;
    }
}

@media screen and (min-width: 800px) and (max-width: 900px) {
    figure img {
        display: none;
    }
}

@media screen and (min-width: 200px) and (max-width: 400px) {
    figure img {
        height: 400px;
        object-fit: cover;
    }
}
